#pendingstyle{
    display: flex;
    align-items: center;
}

#pendingstyle div{
    flex: 1;
}

.pendingorderdelete{
    margin-bottom: 10px;
}
button.pendingorderdelete{
    border: 1px solid #fa3e3e;
    padding: 4px 14px;
    background-color: #fa3e3e;
    color: black;
    flex: right;
    font-weight: 400;
    cursor: pointer;
    font-family: tahoma;
    border-radius: 50px;
    height: 35px;
    width: 200px;
    margin-left: 43.5%;
  }

  button.pendingorderdelete:focus{
    outline: none !important;
 }