.sidebar{
   background-color: #f5f5f5;
   position: absolute !important;
    
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
}


.textblack{
    color: black ;
    font-weight: medium;
}