.backColor
{
    /*background-color: rgb(243, 99, 99);*/
   background-color: rgba(115,210,230);

    color : white;
}
.log{
    color: tomato;
    font-size: 20px;
}
/*.my-nav{
    position: absolute;
    width: 100%;
    z-index: 999;
    background: none;
    border: 0;
    border-radius: 0;
}*/