.product
{
    display: flex;
    border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-bottom: 5px;
    margin-top: 20px;
}

.product-name{

    color: black;
    font-weight: 400;

}
.main-button
{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
}

.dollar{
    color: #B12704!important;
    font-size: 22px;
    line-height: 24px;
}

.product-line{
    margin-left: 20px;
    
}